<!doctype html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <title>B.Verify</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/less/site.css" />
    <script data-main="/apps/dashboard/main" src="/lib/requirejs/require.js"></script>
</head>
<body></body>
</html>