<div class="row">
    <div class="col-md-12">
        <h3>Analysis</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered">
            <tr>
                <td><strong>Revenue</strong></td>
                <td>
                    <span class="additional-analysis-revenue">...</span>
                </td>
            </tr>
            <tr>
                <td><strong>Businesses with this Phone Number</strong></td>
                <td>
                    <span class="additional-analysis-phone">...</span>
                </td>
            </tr>
            <tr>
                <td><strong>Businesses with this Address</strong></td>
                <td>
                    <span class="additional-analysis-address">...</span>
                </td>
            </tr>
            <tr>
                <td><strong>DNB Commercial Risk</strong></td>
                <td>
                    <span class="additional-analysis-risk">...</span>
                </td>
            </tr>
            <tr>
                <td><strong>DNB Fraud Risk</strong></td>
                <td>
                    <span class="additional-analysis-fraud">...</span>
                </td>
            </tr>
            <tr>
                <td><strong>DNB Financial Viability Risk</strong></td>
                <td>
                    <span class="additional-analysis-viability">...</span>
                </td>
            </tr>
            <tr>
                <td><strong>Entities with same principal</strong></td>
                <td>
                    <span class="additional-analysis-principal">...</span>
                </td>
            </tr>
        </table>
    </div>
</div>