<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">The "Five Cs" of Fraud Prevention</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Confirmation.</strong> Does the person or entity truly exist? A check of
                    databases might reveal that a particular business isn’t registered to
                    operate in the state, or that its purported address doesn’t exist, or
                    that an applicant’s Social Security number belongs to a deceased
                    person.
                </p>

                <p>
                    <strong>Condition.</strong> Is the business and/or its executives active? Although
                    you have confirmed that the business exists, you discover that it has
                    no telephone number, fax number, Website, or e-mail address. Or
                    perhaps its business license expired three years ago and hasn’t
                    been renewed.
                </p>

                <p>
                    <strong>Consistency.</strong> Are stated facts consistent with other sources of
                    information? After you confirm that the business exists and is
                    operating, you discover that the company president also runs 15
                    other businesses registered at the same address—a residential
                    dwelling with a home telephone number.
                </p>

                <p>
                    <strong>Character.</strong> Are there any past issues that could impose risks on the
                    current or a future transaction? Criminal and background checks
                    might reveal a past that includes bankrupt businesses, complaints
                    with the Better Business Bureau, or arrests for criminal fraud.
                </p>

                <p>
                    <strong>Continuity.</strong> Has the current operational status changed and is it
                    posing new risks? Even after your contracts are signed and the
                    contractors are performing, you want a system that continually
                    monitors contractors for events that indicate potential trouble, such
                    as a Chapter 11 bankruptcy filing or SEC charges for stock
                    irregularities.
                </p>
                <h5> References</h5>
                <ul>
                    <li><a target="_blank" href="http://www.dnb.com/content/dam/english/dnb-solutions/risk-management/shifting_fraud_paradigm_to_prevention.pdf">Shifting the Fraud Paradigm: From 'Pay and Chase' to Prevention</a></li>    
                    <li><a target="_blank" href="http://www.dnb.com/content/dam/english/dnb-solutions/risk-management/fraud_red_flags_checklist.pdf">Identifying Red Flags</a></li>    
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->