<form role="form" class="form new-investigation-form">
    <h3>Find a Company</h3>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" type="text" name="query" placeholder="i.e., Apple Inc.">

        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
    <div class="row loading hide">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    Loading...
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 result-content">
        </div>
    </div>
</form>
